* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.topnav {
    background-color: lightgray;
    overflow: hidden;
}

#highscores-btn {
    display: inline-block;
    align-items: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

#countdown-timer {
    display: inline-block;
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    }